<!DOCTYPYE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Delete Penerbangan Berhasil </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="font-family: 'Poppins', sans-serif;">

<nav th:replace="fragments/fragment :: navbar"></nav>
<h2 style="text-align: center; margin-top: 30px" th:text="'Penerbangan ' + ${penerbangan.nomorPenerbangan}"></h2>
<h2 style="text-align: center; margin-top: 5px">berhasil dihapus</h2>
<div class="text-center" style="margin-top: 30px">
    <a th:href="@{/penerbangan}">Kembali ke Daftar Penerbangan</a>
</div>

</body>
</html>