<!DOCTYPYE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add Penerbangan </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="font-family: 'Poppins', sans-serif;">

<nav th:replace="fragments/fragment :: navbar"></nav>
<h1 class="text-center" style="margin-top: 30px">Form Tambah Penerbangan</h1>
<form th:action="@{/penerbangan/tambah}"th:object="${penerbangan}" method = "POST" style="margin-top: 50px; margin-left: 425px; margin-right: 425px">
    <div class="form-group">
        <label for="kodePenerbangan">Kode Penerbangan</label>
        <input class="form-control" type="text" id="kodePenerbangan" name="nomorPenerbangan" placeholder="masukkan kode penerbangan" minlength="16" maxlength="16" required/>
    </div>
    <div class="form-group">
        <label for="kodeBandaraAsal">Kode Bandara Asal</label>
        <input class="form-control" type="text" id="kodeBandaraAsal" name="kodeBandaraAsal" placeholder="masukkan kode bandara asal" required/>
    </div>
    <div class="form-group">
        <label for="kodeBandaraTujuan">Kode Bandara Tujuan</label>
        <input class="form-control" type="text" id="kodeBandaraTujuan" name="kodeBandaraTujuan" placeholder="masukkan kode bandara tujuan" required/>
    </div>
    <div class="form-group">
        <label for="waktuBerangkat">Waktu Berangkat</label>
        <input class="form-control" type="date" id="waktuBerangkat" name="waktuBerangkat" required/>
    </div>
    <div class="text-center">
        <a class="btn btn-md btn-light btn-outline-dark" th:href="@{/penerbangan}"> Batal </a>
        <button class="btn btn-primary px-3 mx-2" type="submit"> Simpan </button>
    </div>
</form>
</body>
</html>