<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset= "UTF-8">
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container" style="width: 700px; margin-top: 140px; margin-bottom: 40px;
    background: cornflowerblue; padding: 60px; border-radius: 15px">
        <h1 class="text-white text-center">Selamat Datang di SIPESAWAT!</h1>
    </div>
    <div class="container text-center">
        <h3 class="text-center mb-4">Daftar Fitur:</h3>
        <a class="btn btn-md text-white rounded px-3" style="margin-right: 5px; background: cornflowerblue;
        border-radius: 10px; width: 11%;" th:href="@{/pesawat}">Pesawat</a>
        <a class="btn btn-md text-white rounded px-3" style="margin-right: 5px; background: cornflowerblue;
        border-radius: 10px; width: 11%;" th:href="@{/penerbangan}">Penerbangan</a>
        <a class="btn btn-md text-white rounded px-3" style="margin-right: 5px; background: cornflowerblue;
        border-radius: 10px; width: 11%;" th:href="@{/pesawat/pesawat-tua}">Cari</a>
        <a class="btn btn-md text-white rounded px-3" style="margin-right: 5px; background: cornflowerblue;
        border-radius: 10px; width: 11%;" th:href="@{/pesawat/filterForm}">Filter</a>
        <a class="btn btn-md text-white rounded px-3" style="margin-right: 5px; background: cornflowerblue;
        border-radius: 10px; width: 11%;" th:href="@{/pesawat/bonus}">Bonus</a>
    </div>
</body>
</html>